.Contacts--item {
  display: block;
  text-align: left;
  padding-left: 10px;
  line-height: 1.8;
}
.Form {
  text-align: left;
  padding-left: 10px;
  line-height: 1.8;
  display: block;
}
.Input {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
