.App {
  text-align: center;
  min-height: 100vh;
  width: 1020px;
  margin: 0 auto;
  box-shadow: 10px 5px 15px #e1e1e1;
  border-right: 25px solid #48474c;
  border-left: 25px solid #48474c;
}
.App--content {
  display: flex;
}
.App--content-left {
  width: 40%;
  margin: 20px 0;
  padding: 0 20 px;
  border-right: 2px solid #e1e1e1;
}
